@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  /* No Scrollbar utility — ikkala nom bilan ishlaydi */
  .no-scrollbar::-webkit-scrollbar,
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar,
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .animate-page-in {
    animation: pageIn 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }

  @keyframes pageIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}